#container{
    position: relative;
    height: 40vw;
    width: 40vw;
    background: url(./clock.png) no-repeat;
    margin: auto;
    background-size: 100%;
}

#hour, #mnt, #scnd{
    transform-origin: bottom;
    position: absolute;
    background-color: black;
    border-radius: 10px;
}

#hour{ 
    width: 1.8%;
    height: 25%;
    top: 25%;
    left: 48.85%;
    opacity: 0.8;
}

#mnt{
    width: 1.6%;
    height: 30%;
     top: 19%;
     left: 48.9%;
     opacity: 0.8;
}

#scnd{
    width: 1%;
    height: 40%;
    top: 9%;
    left: 49.25%;
    opacity: 0.8;
}